<ion-content fullscreen>
  <div class="formbackground">
    <ion-card class="secondcard">

      <ion-card-content>


        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" lines="none">
          <div>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" name="username" placeholder="Enter Name" formControlName="username"
                class="form-control"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.username.errors" class="error-message">
              <div *ngIf="f.username.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Name is required
              </div>
            </div>

          </div>
          <!-- <div>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email" placeholder="Enter Email" formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="submitted && f.email.errors"  class="error-message">
            <div   *ngIf="f.email.errors.required" color="danger">
              <ion-icon name="alert-circle-outline"></ion-icon> Email is required
            </div>
            <div *ngIf="f.email.errors.email">
              <ion-icon name="alert-circle-outline"></ion-icon> Email is invalid
            </div>
          </div>
        </div> -->
          <div>
            <ion-item>
              <ion-label position="floating">Mobile</ion-label>
              <ion-input inputmode="numeric" [required]="true" appInputInteger type="text" maxLength="10" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                name="mobile" placeholder="Enter Mobile Number" formControlName="mobile"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.mobile.errors" class="error-message">
              <div *ngIf="f.mobile.errors.required" color="danger">
                <ion-icon name="alert-circle-outline"></ion-icon> Mobile Number is required
              </div>
              <div *ngIf="f.mobile.errors.pattern" color="danger">
                <ion-icon name="alert-circle-outline"></ion-icon> Please Enter 10 digit Number
              </div>

            </div>
          </div>
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed-outline"></ion-icon> Password
              </ion-label>

              <ion-input [type]="hide ? 'password' : 'text'" name="password " placeholder="Enter password"
                formControlName="password"></ion-input>
              <ion-icon style="margin-top: 20px" slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide">
              </ion-icon>
            </ion-item>
            <div *ngIf="submitted && f.password.errors" class="error-message">
              <div *ngIf="f.password.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Password is required
              </div>
              <div *ngIf="f.password.errors.minlength">
                <ion-icon name="alert-circle-outline"></ion-icon> Password must be at least 6 characters
              </div>
              <div *ngIf="f.password.errors.maxlength">
                <ion-icon name="alert-circle-outline"></ion-icon> Username must not exceed 40 characters
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed-outline"></ion-icon> ConfirmPassword
              </ion-label>
              <ion-input [type]="hide ? 'password' : 'text'" name="cpassword" placeholder="Enter password"
                formControlName="cpassword">
              </ion-input>
              <ion-icon style="margin-top: 20px" slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide">
              </ion-icon>
            </ion-item>
            <div *ngIf="submitted && f.cpassword.errors" class="error-message">
              <div *ngIf="f.cpassword.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Confirm Password is required
              </div>
              <div *ngIf="f.cpassword.errors.matching">
                <ion-icon name="alert-circle-outline"></ion-icon> Confirm Password does not match
              </div>
            </div>

          </div>

          <!-- <ion-item>
          <ion-label position="floating">User Type</ion-label>
          <ion-select placeholder="Select One" formControlName="usertype" name="usertype">
            <ion-select-option value="doctor">Doctor</ion-select-option>
            <ion-select-option value="patient">patient</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.usertype.errors" class="error-message">
          <div   *ngIf="f.usertype.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Please selct anyone
          </div>
        </div> -->

          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select placeholder="Select One" formControlName="gender" name="gender">
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="submitted && f.gender.errors" class="error-message">
            <div *ngIf="f.gender.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Please select anyone
            </div>
          </div>

          <ion-item class="date-item" lines="none">
            <div>
              <ion-row>
                <ion-col>
                  <ion-label>DOB</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="date">

                <ion-col>
                  <ion-input inputmode="numeric" [required]="true" appInputInteger type="text" #dd maxLength="2"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="dd" placeholder="DD"
                    formControlName="dd"   (keyup)="gotoNextField(mm)" clearInput="true"></ion-input>

                </ion-col>

                <ion-col>
                  <ion-input inputmode="numeric" [required]="true" appInputInteger type="text" #mm maxLength="2"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="mm"
                    placeholder="MM" name="mm" (keyup)="gotoNextFields(yyyy)" clearInput="true"></ion-input>

                </ion-col>

                <ion-col>
                  <ion-input inputmode="numeric" [required]="true" appInputInteger type="text" #yyyy maxLength="4"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="yyyy"
                    placeholder="YYYY" name="yyyy"(keyup)="gotoNextFields(yyyy)"clearInput="true"></ion-input>

                </ion-col>

              </ion-row>
              <div *ngIf=" f.dd.invalid && ( f.dd.touched || f.dd.dirty)">
                <div class="error-message" *ngIf=" f.dd.errors?.required">*Date is required</div>
                <div class="error-message" *ngIf=" f.dd.errors?.pattern"> *Please Enter 2 digit below Date </div>
              </div>
              <div *ngIf=" f.mm.invalid && ( f.mm.touched || f.mm.dirty)">
                <div class="error-message" *ngIf=" f.mm.errors?.required">*Month is required</div>
                <div class="error-message" *ngIf=" f.mm.errors?.pattern"> *Please Enter 2 digit below Month </div>
              </div>

              <div *ngIf=" f.yyyy.invalid && ( f.yyyy.touched || f.yyyy.dirty)">
                <div class="error-message" *ngIf=" f.yyyy.errors?.required">*Year is required</div>
                <div class="error-message" *ngIf=" f.yyyy.errors?.pattern"> *Please Enter 4 digit below Year </div>
              </div>
            </div>

          </ion-item>
          <!-- <div *ngIf="submitted && f.dob.errors" class="error-message">
            <div *ngIf="f.dob.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Please select your dob
            </div>
          </div> -->

          <ion-button type="submit" color="primary" expand="block">Sign Up</ion-button>
          <ion-label>
            <p>Already have an account? <a style="text-decoration: none;" routerLink="/login">Login Now</a></p>
          </ion-label>

        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>