<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create new account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
  <ion-item no-lines >
    <ion-label position="floating">UserName</ion-label>
    <ion-input  [(ngModel)]="username" type="text" required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="text" required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Mobile</ion-label>
    <ion-input [(ngModel)]="mobile" type="text" required></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Password</ion-label>
    <ion-input [(ngModel)]="password" type="text" required></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top" type="submit" expand="block" color="primary" (click)="onSubmit()">
    Create Account
  </ion-button>

  <ion-item  class="ion-text-center">
    <ion-label>Or</ion-label>
  </ion-item>

  <ion-button color="primary" expand="block" fill="outline" [routerLink]="['/login']">Login</ion-button>
</ion-list>
</ion-content>