<ion-content >
  <ion-header class="ion-no-border">
    <ion-card class="firstcard" color="tertiary">
      <ion-card-title class="header"><strong>Register Form</strong></ion-card-title>
    </ion-card>

    <ion-card class="secondcard"  >

      <ion-card-content  >

      
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" lines="none" >
          <div>
            <ion-item >
              <ion-label position="floating">UserName</ion-label>
              <ion-input type="text" name="username" placeholder="Enter username" formControlName="username"
                class="form-control"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.username.errors" class="error-message">
              <div  *ngIf="f.username.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> UserName is required
              </div>
            </div>

          </div>
          <div>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" name="email" placeholder="Enter Email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngIf="submitted && f.email.errors" class="error-message">
              <div *ngIf="f.email.errors.required" color="danger">
                <ion-icon name="alert-circle-outline"></ion-icon> Email is required
              </div>
              <div *ngIf="f.email.errors.email">
                <ion-icon name="alert-circle-outline"></ion-icon> Email is invalid
              </div>
            </div>
          </div>
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed-outline"></ion-icon> Password
              </ion-label>

              <ion-input [type]="hide ? 'password' : 'text'" name="password " placeholder="Enter password"
                formControlName="password"></ion-input>
              <ion-icon style="margin-top: 20px" slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide">
              </ion-icon>
            </ion-item>
            <div *ngIf="submitted && f.password.errors" class="error-message">
              <div  *ngIf="f.password.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Password is required
              </div>
              <div  *ngIf="f.password.errors.minlength">
                <ion-icon name="alert-circle-outline"></ion-icon> Password must be at least 6 characters
              </div>
              <div  *ngIf="f.password.errors.maxlength">
                <ion-icon name="alert-circle-outline"></ion-icon> Username must not exceed 40 characters
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="lock-closed-outline"></ion-icon> ConfirmPassword
              </ion-label>
              <ion-input [type]="hide ? 'password' : 'text'" name="cpassword" placeholder="Enter password"
                formControlName="cpassword">
              </ion-input>
              <ion-icon style="margin-top: 20px" slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide">
              </ion-icon>
            </ion-item>
            <div *ngIf="submitted && f.cpassword.errors"  class="error-message">
              <div *ngIf="f.cpassword.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Confirm Password is required
              </div>
              <div  *ngIf="f.cpassword.errors.matching">
                <ion-icon name="alert-circle-outline"></ion-icon> Confirm Password does not match
              </div>
            </div>

          </div>

          <ion-item>
            <ion-label position="floating">User Type</ion-label>
            <ion-select placeholder="Select One" formControlName="usertype" name="usertype">
              <ion-select-option value="doctor">Doctor</ion-select-option>
              <ion-select-option value="patient">patient</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="submitted && f.usertype.errors"  class="error-message">
            <div  *ngIf="f.usertype.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Please selct anyone
            </div>
          </div>

          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select placeholder="Select One" formControlName="gender" name="gender">
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="male">Male</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="submitted && f.gender.errors"  class="error-message">
            <div *ngIf="f.gender.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Please selct anyone
            </div>
          </div>

          <ion-item>
            <ion-label position="floating">DOB</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="mydate" placeholder="Select Date"
              formControlName="dob" name="dob">
            </ion-datetime>
          </ion-item>
          <div *ngIf="submitted && f.gender.errors"  class="error-message">
            <div *ngIf="f.gender.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Please select
            </div>
          </div>

          <ion-button type="submit" color="primary" expand="block">Sign Up</ion-button>
          <p>Already have an account?<a [routerLink]="['/login']">Login Now</a></p>
        </form>
        
      </ion-card-content>
    </ion-card>

  </ion-header>


</ion-content>