<ion-content  >
  <ion-header class="ion-no-border">
    
    <img src="https://photo-cdn2.icons8.com/YYHkiR5WdeY-nt5gigxqwtecdgc2-62wHazNC0tlyfY/rs:fit:1606:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5h/c3NldHMvYXNzZXRz/L3NhdGEvb3JpZ2lu/YWwvMjMyLzA3NjEy/YTJlLTBkNmItNDgw/NC04MmE2LTlmNTcy/MjgzNjdjYi5qcGc.jpg"/>
     <ion-chip routerLink="/patient/home" outline color="primary"><ion-icon name="chevron-back-outline"></ion-icon></ion-chip> 
  </ion-header>
  <ion-item class="avatar" lines="none">
    <ion-avatar>
      <img src="https://photo-cdn2.icons8.com/VutzUs-yEUawTlcmRh3OJsXgMmTlOgx76HMXAtUwuYM/rs:fit:1072:1072/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5h/c3NldHMvYXNzZXRz/L3NhdGEvb3JpZ2lu/YWwvNTc0LzViMGRj/ZTZmLTNhNzQtNDdm/Yy05ZjAyLTEwNjUy/OTU5NGNhOC5qcGc.jpg"/>
    </ion-avatar>
  </ion-item>
  <ion-card color="tertiary">
    <ion-card-header></ion-card-header>
    <ion-card-content>
      <ion-label>
        hai i am janagan
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

