<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none" class="content">
        <img src="../../../assets/splash_screen.gif" />
      </ion-item>
      <ion-card>
        <ion-text>
          Book Your Doctor Appointment safely <br> in pondicherry.
        </ion-text>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-card>
    <ion-label>Copyright &copy; Duskcoder.com ®</ion-label>
  </ion-card>

</ion-footer>