<ion-header class="ion-no-border">
  <!-- <ion-toolbar class="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/patient/toplist"></ion-back-button>

      <ion-title class="ion-justify-content-center">My Profile</ion-title>
    </ion-buttons>
    
  </ion-toolbar> -->

  <div class="main"></div>
  <div class="backbutton">
    <ion-chip outline color="light" routerLink="/patient/home/"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></ion-chip>
  </div>
  <div class="avatar">
    <ion-avatar class="profileavatar">
      <img
        src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      />
    </ion-avatar>
    <ion-button color="secondary">
      <ion-icon name="camera-reverse" color="light"></ion-icon>
      
    </ion-button>
  </div>
  <div class="editavatar">
    <ion-avatar class="edit">
      <img
        src="https://img.icons8.com/plasticine/100/000000/pencil.png"
      />
    </ion-avatar>
  </div>
</ion-header>
<ion-content >
 
<ion-card style="margin-top: 20%;">
  <ion-card-header>

  </ion-card-header>
  <ion-card-content>

  </ion-card-content>
</ion-card>

</ion-content>
