<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button routerLink="/patient/docprofile/3">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Notification</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card *ngFor="let data of approve">

    <ion-card-content>
      <ion-item class="head" lines="none">
        <ion-row>
          <ion-col class="col-one">
            <img src="../../../assets/image/caduceus.png" />
          </ion-col>
          <ion-col class="col-two">
            <ion-row>
              <ion-label>
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-text> Date: {{data.date}}</ion-text>
              </ion-label>
              <ion-text *ngIf="!data.showMore">
                <b>Reason: </b>{{trimString(data.reason,50)}}
              </ion-text>
              <ion-text class="ion-text-justify" *ngIf="data.showMore">
                <b>Reason: </b>{{data.reason}}
              </ion-text>
              <ion-label>
                <ion-col>
                  <a (click)="data.showMore = !data.showMore">Show <span [innerHtml]="data.showMore ? 'less' : 'More'">
                    </span>
                  </a>
                </ion-col>
              </ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="status" lines='none'>
        <ion-text>Status: </ion-text>
        <ion-label [color]="data.approvestatus == 'accept' ? 'success' : 'danger'">
          <h2 *ngIf="data.approvestatus != 'pending'" [innerHtml]="data.approvestatus == 'accept' ? ' Your Appointment Successfully' : ' Your Appointment Rejected'">
          </h2>
          <h2 *ngIf="data.approvestatus == 'pending'" [innerHtml]="data.approvestatus == 'pending' ? ' Waiting for your approval ':''"></h2>
        </ion-label>

      </ion-item>
    </ion-card-content>
    <!-- <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-text> Date: {{data.date}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label></ion-label>
      </ion-row>
    </ion-card-header>
    <ion-card-content >
      <ion-text *ngIf="!data.showMore">
        <b>Reason: </b>{{trimString(data.reason,50)}}
      </ion-text>
      <ion-text class="ion-text-justify" *ngIf="data.showMore">
        <b>Reason: </b>{{data.reason}}
      </ion-text>
      <ion-row >
        <ion-col size="4" class="ion-col">
          <a (click)="data.showMore = !data.showMore">Show <span [innerHtml]="data.showMore ? 'less' : 'More'"> </span>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <b>Status: </b><ion-label  [color]="data.approvestatus == 'accept' ? 'success' : 'danger'">
              <h2 [innerHtml]="data.approvestatus == 'accept' ? 'Your Appointment Successfully' : 'Your Appointment Rejected'"> </h2></ion-label>
          </ion-item>
        
        </ion-col>
      </ion-row>
    </ion-card-content> -->
  </ion-card>

</ion-content>