<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button routerLink="/doctor/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >

  <ion-card *ngFor="let data of approve">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-text>{{data.pat_name}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-text>{{data.date}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-label></ion-label>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-text *ngIf="!data.showMore">
        {{trimString(data.reason,50)}}
      </ion-text>
      <ion-text class="ion-text-justify" *ngIf="data.showMore">
        {{data.reason}}
      </ion-text>
      <ion-row>
        <ion-col size="4" class="ion-col">
          <a (click)="data.showMore = !data.showMore">Show <span [innerHtml]="data.showMore ? 'less' : 'More'"> </span>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="{{data.color}}">{{data.success}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>