.txtcolor{
    color:rgb(124, 124, 124);
}
.button-align{
    width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
ion-content{
    .main-content{
         --background: none;
        // box-shadow: none;
        background-color: aliceblue;
        .sub-main{
            --background:none;
            form{
                width: 100%;
                text-align: -webkit-center;
                padding: 0px 10px 0px 10px;

                .updatebtn {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 50%;
                    --background: none;

                    ion-button {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        width: 100%;
                        background-color: #7bc1f7;
                        --background: none;
                        border-radius: 20px;
                        --border-radius: 20px;
                        height: 35px;
                        font-size: 14px;
                    }
                }
                
            }
            #rounded {
                    box-shadow: 0px 0px 15px -5px #7bc1f7;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                }
        }

    }
}