.txtcolor {
    color: rgb(124, 124, 124);
}
.button-align {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}
ion-content {
    .main-content {
        --background: none;
        // box-shadow: none;
        background-color: aliceblue;
        border-radius: 50px;
        .sub-main {
            --background: none;
            form {
                width: 100%;
                text-align: -webkit-center;
                padding: 0px 10px 0px 10px;
                .avatar {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 50%;
                    --background: none;
                    ion-button {
                        --border-style: solid;
                        --border-width: 1px;
                        --border-color: var(--ion-color-light-shape);
                        --padding-start: 0;
                        --padding-end: 0;
                        --padding-top: 0;
                        --padding-bottom: 0;

                        --border-radius: 50%;
                        height: 26px;
                        width: 26px;

                        position: relative;
                        right: 30px;
                        bottom: -35px;

                        ion-icon {
                            width: 14px;
                            height: 14px;
                        }
                    }

                    ion-avatar {
                        width: 100px;
                        height: 100px;
                        position: relative;
                        img {
                            background-image: url(https://img.icons8.com/ios-glyphs/120/000000/user-male-circle.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: initial;
                            display: flex;
                        }
                    }
                }
                .date-item{
                    .date{
                        border-color: black;
                        ion-col{
                            ion-input{
                                
                                border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
                                height: 30px;
                                text-align: center;
                                border-radius: 4px;
                            }
                        }
                    }
                }
                .updatebtn {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 50%;
                    --background: none;

                    ion-button {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        width: 100%;
                        background-color: #7bc1f7;
                        --background: none;
                        border-radius: 20px;
                        --border-radius: 20px;
                        height: 35px;
                        font-size: 12px;
                    }
                }
            }
            #rounded {
                box-shadow: 0px 0px 15px -5px #7bc1f7;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 10px;
                margin-bottom: 10px;
                .location-css{
                    color: rgb(146, 146, 146);
                }
            }
        }
    }
}
