<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/patient/home"></ion-back-button>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>

  <ion-toolbar class="toolbars" mode="md">
    <ion-segment [(ngModel)]="category">
      <ion-slides [options]="slidesOptions">
        <ion-slide>
          <ion-segment-button value="all" (click)="selectCatagory('all')">
            All
          </ion-segment-button>
        </ion-slide>
        <ion-slide *ngFor="let cat of catList">
          <ion-segment-button value="{{cat.cat}}" (click)="selectCatagory(cat.cat)">
            {{cat.cat}}
          </ion-segment-button>
        </ion-slide>
      </ion-slides>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div>
      <ion-item-group>
        <ion-item *ngFor="let data of doclist" lines="none">
          <ion-grid routerLink="/patient/docprofile/{{data.id}}">
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img src="{{data.image}}">
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>{{data.name}}</h4>
                  <h6>{{data.about}}</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon class="yarrowstyle" slot="icon-only" name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

      </ion-item-group>
    </div>
  </div>
</ion-content>






