<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/patient/home"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>

  <ion-toolbar class="toolbars" mode="md">
    <ion-segment [(ngModel)]="category">
      <ion-slides [options]="slidesOptions">
        <ion-slide>
          <ion-segment-button value="all"> All </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="surgeon"> Surgeon </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="ducklings"> Skin </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="duckling1"> Skin </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="duckling2"> Skin </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="duckling3"> Skin </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="duckling4"> Skin </ion-segment-button>
        </ion-slide>
        <ion-slide>
          <ion-segment-button value="duckling5"> Skin </ion-segment-button>
        </ion-slide>
      </ion-slides>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div [ngSwitch]="category">
      <ion-item-group *ngSwitchCase="'all'">
        <ion-item *ngFor="let data of doclist" lines="none">
          <ion-grid routerLink="/patient/docprofile/{{ data.id }}">
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img src="{{ data.img }}" />
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>{{ data.head }}</h4>
                  <h6>{{ data.desc }}</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon
                    class="yarrowstyle"
                    slot="icon-only"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngSwitchCase="'surgeon'">
        <ion-item
          *ngFor="let data of doclist"
          lines="none"
          routerLink="patient/docprofile/{{ data.id }}"
        >
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img src="{{ data.img }}" />
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>{{ data.head }}</h4>
                  <h6>{{ data.desc }}</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon
                    class="yarrowstyle"
                    slot="icon-only"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-group>

      <ion-list *ngSwitchCase="'ducklings'">
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img
                    src="https://st4.depositphotos.com/12982378/23084/i/600/depositphotos_230843210-stock-photo-handsome-doctor-stethoscope-writing-something.jpg"
                  />
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Dr. Raj</h4>
                  <h6>Heart Surgeon</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon
                    class="yarrowstyle"
                    slot="icon-only"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img
                    src="https://st4.depositphotos.com/12982378/23084/i/600/depositphotos_230843210-stock-photo-handsome-doctor-stethoscope-writing-something.jpg"
                  />
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Dr. Raj</h4>
                  <h6>Heart Surgeon</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon
                    class="yarrowstyle"
                    slot="icon-only"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img
                    src="https://st4.depositphotos.com/12982378/23084/i/600/depositphotos_230843210-stock-photo-handsome-doctor-stethoscope-writing-something.jpg"
                  />
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Dr. Raj</h4>
                  <h6>Heart Surgeon</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon
                    class="yarrowstyle"
                    slot="icon-only"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="3">
                <ion-avatar>
                  <img
                    src="https://st4.depositphotos.com/12982378/23084/i/600/depositphotos_230843210-stock-photo-handsome-doctor-stethoscope-writing-something.jpg"
                  />
                </ion-avatar>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h4>Dr. Raj</h4>
                  <h6>Heart Surgeon</h6>
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-button color="light" fill="clear">
                  <ion-icon
                    class="yarrowstyle"
                    slot="icon-only"
                    name="chevron-forward-outline"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
