<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button routerLink="/patient/home"></ion-back-button>
      <ion-title>Category List</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-card *ngFor="let data of catList" class="cardone">
      <ion-card-header> </ion-card-header>
      <ion-card-content class="ion-text-left">
        <ion-card-title id="txtsty">{{ data.cat }}</ion-card-title>
        <ion-text id="txtstys">{{ data.count }}</ion-text>
      </ion-card-content>
    </ion-card>

    
  </ion-row>
</ion-content>
