<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons>
      <ion-button href="/patient/docprofile/3">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Appointment</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-chip outline-color="success" (click)="truthClick()" [disabled]="disableButton">ssaasdf</ion-chip> -->
  <!-- <ion-item-group>
    <ion-item>
      <ion-row>
        <ion-avatar>
           <img
            src="{{doc.doc_image}}"
          /> 
        </ion-avatar>
      </ion-row>
      <ion-item lines="none">
        <ion-list>
           <ion-label> <h2>{{doc.doc_name}}</h2> </ion-label>
          <ion-label color="medium"><h6>{{doc.professional}}</h6></ion-label>
        </ion-list>
      </ion-item>
    </ion-item>
  </ion-item-group> -->

  <ion-item color="light" class="dateslot">
    <ion-slides [options]="slidesOptions">
      <ion-slide *ngFor="let data of available; let i = index">
        <ion-card class="ion-activatable ripple-parent" (click)="getList(i)">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-content>
            <ion-row>
              <div class="ion-text-justify">
                <ion-label>{{data.date}}</ion-label>
                <ion-label>{{data.scount-data.bookedCount}} slot abailable</ion-label>
              </div>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item>
  <ion-item lines="none" class="date">
    <ion-label><strong>{{sam}}</strong></ion-label>
  </ion-item>
  <div class="slot">
    <ion-item class="event" lines="none">
      <ion-icon color="medium" name="partly-sunny-outline"></ion-icon>&nbsp;
      <ion-label color="medium">{{secm}}</ion-label>

    </ion-item>
    <ion-item *ngIf="hide" class="event" lines='none'>
      <ion-label style="font-size: 20px;font-family: emoji; color: cadetblue;text-align: center;"> 
        Data Not Found</ion-label>
    </ion-item>
    <div>
      <ng-container *ngFor="let data of arraym">
        <ion-col *ngIf="checkValid(data.time, sam)" size="4">
          <ion-chip (click)="conform(data.id)" disabled="{{ data.status }}" outline color="success">
            <ion-label>{{data.time }}</ion-label>
          </ion-chip>
        </ion-col>
      </ng-container>
    </div>
  </div>
  <div class="slot">
    <ion-item class="event" lines="none">
      <ion-icon color="medium" name="partly-sunny-outline"></ion-icon>&nbsp;
      <ion-label color="medium">{{sece}}</ion-label>

    </ion-item>
    <ion-item *ngIf="hides" class="event" lines='none'>
      <ion-label style="font-size: 20px;font-family: emoji; color: cadetblue;text-align: center;">
        Data Not Found</ion-label>
    </ion-item>
    <div>
      <ng-container *ngFor="let data of arraye">
        <ion-col *ngIf="checkValid(data.time, sam)" size="4">
          <ion-chip (click)="conform(data.id)" disabled="{{ data.status }}" outline color="success">
            <ion-label>{{data.time }}</ion-label>
          </ion-chip>
        </ion-col>
      </ng-container>
    </div>
  </div>

  <!-- <ion-row>
      <ng-container *ngFor="let data of arrays">
        <ion-col *ngIf="checkValid(data.time, sam)" size="4">
          <ion-chip (click)="conform(data.id)" disabled="{{ data.status }}" outline color="success">
            <ion-label>{{data.time }}</ion-label>
          </ion-chip>
        </ion-col>
      </ng-container>
     
    </ion-row> -->
</ion-content>