<ion-content class="ioncontent">

  <div class="formbackground">
    <ion-card class="secondcard">
      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating">Mobile No.</ion-label>
            <ion-input type="text"maxLength="10" name="mobile" placeholder="Enter Mobile Number" formControlName="mobile"></ion-input>
            <!-- <ion-input type="text" name="mobile" placeholder="Enter Mobile Number" formControlName="mobile"></ion-input> -->
          </ion-item>
          <div *ngIf=" f.mobile.invalid && ( f.mobile.touched || f.mobile.dirty)">
            <div class="error-message" *ngIf=" f.mobile.errors?.required">*Mobile No. is required</div>
            <div class="error-message" *ngIf=" f.mobile.errors?.pattern"> Please Enter 10 digit Mobile Number</div>
          </div>

          <!-- <div *ngIf="submitted &&  f.mobile.invalid " class="error-message">
            <div *ngIf="f.mobile.errors?.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Mobile No. is required
            </div>
            <div   *ngIf="f.mobile.errors?.pattern" color="danger">
              <ion-icon name="alert-circle-outline"></ion-icon> Please Enter 10 digit Number
            </div>
          </div> -->
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="lock-closed-outline"></ion-icon> Password
            </ion-label>

            <ion-input [type]="hide ? 'password' : 'text'" name="password " placeholder="Enter password"
              formControlName="password"></ion-input>
            <ion-icon style="margin-top: 20px" slot="end" [name]="hide ? 'eye' : 'eye-off'" (click)="hide = !hide">
            </ion-icon>
          </ion-item>
          <div *ngIf="submitted && f.password.errors" class="error-message">
            <div *ngIf="f.password.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Password is required
            </div>
            <div *ngIf="f.password.errors.minlength">
              <ion-icon name="alert-circle-outline"></ion-icon>
              Password must be at least 6 characters
            </div>
            <!-- <div *ngIf="f.password.errors.maxlength">
              <ion-icon name="alert-circle-outline"></ion-icon>
              Username must not exceed 40 characters
            </div> -->
          </div>
          <br>
          <ion-button type="submit" color="primary" expand="block">Sign In</ion-button>
          <ion-label class="ion-align-center">
            <p style="font-size: 15px;text-align:center;">Don't have an account? <a style="text-decoration: none;"
                routerLink="/register">Register</a></p>
          </ion-label>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>