<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="onClickLogIn(loginForm.value)">
    <ion-item>
      <ion-input type="text" name="username" placeholder="Enter username" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="password" placeholder="Enter password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit">Sign In</ion-button>
  </form>
</ion-content>
