<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    
    <ion-buttons slot="start">
      <ion-button href="/doctor/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Edit Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]>
  <ion-card class="main-form">
    <ion-item lines="none" class="sub-form">
      <form [formGroup]="doctprofileupdateForm" (ngSubmit)="onSubmit()">
        <ion-item lines="none" class="avatar">
          <ion-avatar>
            <img
              src="https://images.pexels.com/photos/5327585/pexels-photo-5327585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
          </ion-avatar>
          <ion-button color="secondary">
            <ion-icon name="camera-reverse" color="light"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none" id="rounded">

          <ion-input placeholder="FirstName" type="text" name="firstname" formControlName="firstname"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.firstname.errors" class="error-message">
          <div *ngIf="f.firstname.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> First Name is required
          </div>
        </div>
        <ion-item id="rounded" lines="none">
          <ion-input placeholder="Last Name" type="text" name="lastname" formControlName="lastname"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.lastname.errors" class="error-message">
          <div *ngIf="f.lastname.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Last Name is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-input type="text" placeholder=" E-mail" name="email" formControlName="email"></ion-input>
          <ion-label style="padding-left: 20px; color: rgb(146, 146, 146);" fixed>@gmail.com</ion-label>
        </ion-item>
        <div *ngIf="submitted && f.email.errors" class="error-message">
          <div *ngIf="f.email.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Email is required
          </div>
          <div *ngIf="f.email.errors.pattern">
            <ion-icon name="alert-circle-outline"></ion-icon> Don't type @gmail.com
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-label style="padding-right: 20px; color: rgb(146, 146, 146);">+91</ion-label>
          <ion-input type="number" placeholder="Contact" name="contact_number" formControlName="contact_number">
          </ion-input>
        </ion-item>
        <div *ngIf="submitted && f.contact_number.errors" class="error-message">
          <div *ngIf="f.contact_number.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Contact Number is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-datetime placeholder="Date Of Birth" name="dob" formControlName="dob"></ion-datetime>
        </ion-item>
        <div *ngIf="submitted && f.dob.errors" class="error-message">
          <div *ngIf="f.dob.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Please Select Date
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-radio-group name="gender" formControlName="gender">
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-label style="color:rgb(146, 146, 146);">Male</ion-label>
                  <ion-radio slot="start" color="secondary" value="male"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item lines="none">
                  <ion-label style="color:rgb(146, 146, 146);">Female</ion-label>
                  <ion-radio slot="start" color="secondary" value="female"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-radio-group>
        </ion-item>
        <div *ngIf="submitted && f.gender.errors" class="error-message">
          <div *ngIf="f.gender.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon>Please Select Gender
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-input placeholder="Institute (Optional)" name="institute" formControlName="institute"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.institute.errors" class="error-message">
          <div *ngIf="f.institute.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon>Institute Name is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-input placeholder="Qualification" name="qualification" formControlName="qualification"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.qualification.errors" class="error-message">
          <div *ngIf="f.qualification.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Qualification is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-input placeholder="Description" name="description" formControlName="description"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.description.errors" class="error-message">
          <div *ngIf="f.description.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Description is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <!-- <ion-label>Speciality</ion-label> -->
          <ion-select placeholder="Speciality" name="speciality" formControlName="speciality" interface="action-sheet">
            <ion-select-option value="allergist">Allergist</ion-select-option>
            <ion-select-option value="anesthesiologist">Anesthesiologist</ion-select-option>
            <ion-select-option value="cardiologist">Cardiologist</ion-select-option>
            <ion-select-option value="chiropractor">Chiropractor</ion-select-option>
            <ion-select-option value="dentist">Dentist</ion-select-option>
            <ion-select-option value="dermatologist">Dermatologist</ion-select-option>
            <ion-select-option value="fertility">Fertility Specialist</ion-select-option>
            <ion-select-option value="gynecologist">Gynecologist</ion-select-option>
            <ion-select-option value="massage">Massage Therapist</ion-select-option>
            <ion-select-option value="midwife">Midwife</ion-select-option>
            <ion-select-option value="naturopath">Naturopath</ion-select-option>
            <ion-select-option value="neurologist">Neurologist</ion-select-option>
            <ion-select-option value="obstetrician">Obstetrician</ion-select-option>
            <ion-select-option value="occupational">Occupational Therapist</ion-select-option>
            <ion-select-option value="oncologist">Oncologist</ion-select-option>
            <ion-select-option value="ophthalmologist">Ophthalmologist</ion-select-option>
            <ion-select-option value="pediatrician">Pediatrician</ion-select-option>
            <ion-select-option value="skin doctor">Skin Doctor</ion-select-option>
            <ion-select-option value="podiatrist">Podiatrist</ion-select-option>
            <ion-select-option value="psychiatrist">Psychiatrist</ion-select-option>
            <ion-select-option value="radiologist">Radiologist</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="submitted && f.speciality.errors" class="error-message">
          <div *ngIf="f.speciality.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Please Select Speciality
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-input placeholder="Experience" type="text" name="experience" formControlName="experience"></ion-input>
          <ion-label style="color:rgb(146, 146, 146);">Years</ion-label>
        </ion-item>
        <div *ngIf="submitted && f.experience.errors" class="error-message">
          <div *ngIf="f.experience.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Experience is required
          </div>
        </div>

        <ion-item lines="none" id="rounded">
          <div formGroupName="address">
            <ion-label position="stacked" style="color: rgb(146, 146, 146); padding-bottom: 10px;">Address</ion-label>

            <ion-input type="text" formControlName="address1" placeholder="Address Line 1" clearInput="true">
            </ion-input>

            <!-- <div *ngIf="submitted && f.address1?.errors" class="error-message">
            <div *ngIf="f.address1?.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Enter your Address Line 1
            </div>
          </div> -->

            <ion-input type="text" formControlName="address2" placeholder="Address Line 2" clearInput="true">
            </ion-input>

            <!-- <div *ngIf="submitted && f.address2?.errors" class="error-message">
            <div *ngIf="f.address2?.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Enter your Address Line 2
            </div>
          </div> -->

            <ion-input type="text" formControlName="city" name="city" placeholder="City" clearInput="true"></ion-input>

            <!-- <div *ngIf="submitted && f.city?.errors" class="error -message">
            <div *ngIf="f.city?.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Enter your City
            </div>
          </div> -->

            <ion-input type="text" formControlName="state" name="state" placeholder="State" clearInput="true">
            </ion-input>

            <!-- <div *ngIf="submitted && f.state?.errors" class="error-message">
            <div *ngIf="f .state?.errors.required">
              <ion-icon name="alert-circle-outline"></ion-icon> Enter your State
            </div>
          </div> -->

            <ion-input type="number" formControlName="zip" name="zip" placeholder="Zip Code" type="number"></ion-input>

            <!-- <div *ngIf="submitted && f.zip?.errors" class="error-message">
              <div *ngIf="f .zip?.errors.required">
                <ion-icon name="alert-circle-outline"></ion-icon> Enter your Zip Code
              </div>
            </div> -->
          </div>
        </ion-item>

        <ion-item lines="none" id="rounded">
          <ion-input type="number" name="consolidatefees" formControlName="consolidatefees"
            placeholder="Consolidate Fees"></ion-input>
          <ion-label style="color:rgb(146, 146, 146) ;">Rs.</ion-label>

        </ion-item>
        <div *ngIf="submitted && f.consolidatefees.errors" class="error-message">
          <div *ngIf="f.consolidatefees?.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon>Consolidate Fees is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-input type="number" name="emergency_contact" formControlName="emergency_contact"
            placeholder="Emergency Contact"></ion-input>
        </ion-item>
        <div *ngIf="submitted && f.emergency_contact.errors" class="error-message">
          <div *ngIf="f.emergency_contact.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> Emergency contact is required
          </div>
        </div>
        <ion-item lines="none" id="rounded">
          <ion-textarea placeholder="About" name="about" formControlName="about"></ion-textarea>
        </ion-item>
        <div *ngIf="submitted && f.about.errors" class="error-message">
          <div *ngIf="f.about.errors.required">
            <ion-icon name="alert-circle-outline"></ion-icon> About is required
          </div>
        </div>
        <ion-item lines="none" class="updatebtn">
          <ion-button type="submit" *ngIf="buttontype == 'add'" (click)="open('add')">
            <ion-icon name="person-add"></ion-icon>&nbsp; Add Profile
          </ion-button>
          <!-- <ion-button type="submit">
            <ion-icon name="cloud-upload" style="padding-right: 10px;"></ion-icon>Update
          </ion-button> -->
          <ion-button type="submit" *ngIf="buttontype == 'edit'" (click)="open('edit')">
            <ion-icon name="cloud-upload"></ion-icon> &nbsp; Edit Profile
          </ion-button>
        </ion-item>
      </form>
    </ion-item>
  </ion-card>
</ion-content>