<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button href="/doctor/home">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Notification</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card *ngFor="let data of message">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-text>{{data.pat_name}}</ion-text>

        </ion-col>
        <ion-col>
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-text> {{data.date}} </ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="text-transform: uppercase;">
        <ion-col></ion-col>
        <ion-col>
          <ion-label color="success">{{data.session}} </ion-label>
          <ion-text>{{data.time}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-text *ngIf="!data.showMore">
        {{trimString(data.reason,50)}}
      </ion-text>
      <ion-text class="ion-text-justify" *ngIf="data.showMore">
        {{data.reason}}
      </ion-text>
      <ion-row>
        <ion-col class="ion-col">
          <a (click)="data.showMore = !data.showMore">Show <span [innerHtml]="data.showMore ? 'less' : 'More'"> </span>
          </a>
        </ion-col>
        <ion-col>
          <ion-button (click)="approve(data.id, 'accept')" color="success">Accept</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" (click)="approve(data.id, 'reject')">Reject</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>