<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    
      <ion-menu-button slot="start" color="primary"></ion-menu-button>
      <ion-title>Dashboard</ion-title>
    
    <ion-buttons routerLink="/patient/patnotification/" class="noti-btn" slot="end">
      <ion-button color="primary">
        <ion-icon name="notifications-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-img src="https://cdn.pixabay.com/photo/2015/03/26/09/52/chain-link-690503_960_720.jpg"></ion-img> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen] *ngFor="let data of editData">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="main-content">
    <ion-item lines="none" class="ion-item-one">
      <ion-item lines="none" class="ion-sub-item">
        <ion-row class="first-row">
          <ion-col>
            <ion-avatar>
              <img
                src="{{data.image}}" />
            </ion-avatar>
          </ion-col>
        </ion-row>
        <ion-row class="second-row">
          <ion-col>
            <ion-label>Dr. {{data.name}}</ion-label>
            <ion-label>{{data.qualification}}</ion-label>
            <ion-label>{{data.professional}}</ion-label>
            <ion-label>{{data.description}}</ion-label>

            <ion-item lines="none">

              <button [ngStyle]="this.answer >= '1' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="1"
                expand="block" (click)="onClickone('1') ">
                <ion-icon name=star></ion-icon>
              </button>
              <button [ngStyle]="this.answer >= '2' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="2"
                expand="block" (click)="onClickone('2')">
                <ion-icon name=star></ion-icon>
              </button>
              <button [ngStyle]="this.answer >= '3' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="3"
                expand="block" (click)="onClickone('3')">
                <ion-icon name=star></ion-icon>
              </button>
              <button [ngStyle]="this.answer >= '4' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="4"
                expand="block" (click)="onClickone('4')">
                <ion-icon name=star></ion-icon>
              </button>
              <button [ngStyle]="this.answer >= '5' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="5"
                expand="block" (click)="onClickone('5')">
                <ion-icon name=star></ion-icon>
              </button>
            </ion-item>

          </ion-col>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-row>
      </ion-item>
    </ion-item>
    <ion-item class="sub-header" lines="none">
      <ion-row>
        <ion-col>
          <ion-label>
            <ion-icon name="mail"></ion-icon> {{data.email}}
          </ion-label>
          <ion-label>
            <ion-icon name="call"></ion-icon> +91 {{data.contact_number}}
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            <ion-icon name="location"></ion-icon> {{location.state}}
          </ion-label>
          <ion-label>
            <ion-icon name="call"></ion-icon>{{data.emergency_contact}}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
  <ion-card class="about">
    <ion-card-content>
      <ion-label>About</ion-label>
      <ion-item class="content" lines="none">
        <ion-text color="medium">{{data.about}}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="info">
    <ion-card-header>
      <ion-label>Info</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" id="rounded">
        <ion-row>
          <ion-col class="first-col">
            <ion-label>Consolidate Fees </ion-label>
          </ion-col>
          <ion-col class="second-col">
            <ion-button><img src="https://img.icons8.com/color/30/000000/rupee--v1.png" />{{data.consolidatefees}}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item lines="none" class="sub-info">
        <ion-row>
          <ion-col>
            <ion-label>
              <ion-icon name="school"></ion-icon>
              <ion-text>&nbsp;&nbsp;{{data.institute}}</ion-text>
            </ion-label>
            <ion-label>
              <ion-icon name="business"></ion-icon>
              <ion-text>&nbsp;&nbsp;{{data.experience}} Experience</ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="booking-form" lines="none">
        <ion-row>
          <ion-col class="col-one">
            <ion-button (click)='callnumber()'>
              <ion-icon name="call"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="col-two">
            <ion-button (click)='emailcomposer()'>
              <ion-icon name="mail-unread"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col *ngFor="let data of editData" class="col-three">
            <ion-button (click)="appointment()">
              <ion-icon name="calendar"></ion-icon>&nbsp; Appointment
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item class="address-info" lines="none">
        <ion-row>
          <ion-col>
            <ion-label>Address</ion-label>
            <ion-label>
              <ion-col>
                <ion-icon name="location"></ion-icon>
                <ion-text> {{location.address1}},{{location.address2}},</ion-text>
              </ion-col><br>
              <ion-col>
                <ion-text>{{location.city}},{{location.state}},{{location.zip}}</ion-text>
              </ion-col>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor='let dataa of pending' class="book">
    <ion-card-content>
      <ion-label>Booking</ion-label>
      <ion-item class="content" lines="none">
        <ion-row class="detail_row">
          <ion-col>
            <ion-label>Dr. {{data.name}}</ion-label>
            <ion-label>{{data.qualification}}</ion-label>
            <ion-label>{{data.professional}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="cancel_row">
          <ion-col>
            <ion-label color="success">{{dataa.time}}</ion-label>
            <ion-chip outline color="danger" (click)="cancel()">Cancel</ion-chip>
  
          </ion-col>
        </ion-row>
  
        <!-- <ion-col>
                <ion-label>Dr.janagan</ion-label>
                <ion-label>MBMS Skin Specialist</ion-label>
              </ion-col>
              <ion-col>
                <ion-chip outline color="success">10:30 PM</ion-chip>
              </ion-col>
              <ion-col>
                <ion-icon color="danger"name="close-circle-outline">
                </ion-icon>
              </ion-col> -->
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="review">
    <ion-card-header>
      <ion-label>Review</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <!-- <ion-col  class="col-one">
          <ion-label>Service</ion-label>
          <ion-progress-bar value="{{data.review}}"></ion-progress-bar>
          
        </ion-col> -->
        <ion-col class="col-two">
          <ion-item lines="none">
            <ion-label>Service</ion-label>
            <button [ngStyle]="this.answer >= '1' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="1"
              expand="block" (click)="onClickone('1') ">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '2' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="2"
              expand="block" (click)="onClickone('2')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '3' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="3"
              expand="block" (click)="onClickone('3')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '4' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="4"
              expand="block" (click)="onClickone('4')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '5' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="5"
              expand="block" (click)="onClickone('5')">
              <ion-icon name=star></ion-icon>
            </button>
          </ion-item>

        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col class="col-one">
          <ion-label>Satisfaction</ion-label>
          <ion-progress-bar value="{{data.score}}"></ion-progress-bar>

        </ion-col>
        <!-- <ion-col class="col-two">
          <ion-item lines="none">
            <ion-label>Satisfaction</ion-label>
            <button [ngStyle]="this.answer >= '1' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="1" expand="block"
              (click)="onClicktwo('1') ">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '2' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="2" expand="block"
              (click)="onClicktwo('2')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '3' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="3" expand="block"
              (click)="onClicktwo('3')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '4' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="4" expand="block"
              (click)="onClicktwo('4')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '5' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="5" expand="block"
              (click)="onClicktwo('5')">
              <ion-icon name=star></ion-icon>
            </button>
          </ion-item>
        </ion-col> -->
      </ion-item>
      <!-- <ion-item class="star" lines="none">
        <ion-col class="col-two">
         
          <ion-item lines="none">
            <ion-label>Speciality</ion-label>
            <ion-item>
            <button [ngStyle]="this.answer >= '1' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="1" expand="block"
              (click)="onClickthree('1') ">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '2' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="2" expand="block"
              (click)="onClickthree('2')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '3' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="3" expand="block"
              (click)="onClickthree('3')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '4' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="4" expand="block"
              (click)="onClickthree('4')">
              <ion-icon name=star></ion-icon>
            </button>
            <button [ngStyle]="this.answer >= '5' ? {color:'orange'} : {color:'gray'}" [hidden]="false" id="5" expand="block"
              (click)="onClickthree('5')">
              <ion-icon name=star></ion-icon>
            </button>
            </ion-item>
          </ion-item>
          <ion-progress-bar value="{{data.satisfication}}"></ion-progress-bar>
        </ion-col>
        <ion-col class="col-two">
          
        </ion-col>

      </ion-item> -->
      <!-- <ion-button (click)="seduleBasic()">3 Seconds</ion-button>
      <ion-button (click)="seduleAdvance()">10 Seconds</ion-button> -->
    </ion-card-content>
  </ion-card>
  
</ion-content>


<!-- <ion-content *ngFor="let data of editData">
  <ion-card class="content" color="secondary">
    <div class="img-wrapper">
      <img src="{{data.image}}"/>
      <ion-button color="light">
        <ion-icon slot="icon-only" name="camera-outline" color="medium">
        </ion-icon>
      </ion-button>
    </div>
    <ion-card-content  class="ion-text-center">
      <ion-text >
      <h2>{{data.name}}</h2>
      </ion-text>
      <ion-text color="dark">
         <div class="ion-justify-content-center">
           <p>{{data.professional}}</p>
         </div> 
      </ion-text>
      <ion-text color="medium">
        <div style="display:flex;" class="ion-justify-content-center">
        <ion-icon name="location-outline" color="medium">
        </ion-icon>
        <p>{{data.location}}</p>
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-list-header>
          <ion-label>Good Review</ion-label>
        </ion-list-header>
        <ion-progress-bar value="{{data.review}}"></ion-progress-bar>
    </ion-list>
     <ion-list>
       <ion-list-header>
         <ion-label>Total Score</ion-label>
       </ion-list-header>
       <ion-progress-bar value="{{data.score}}"></ion-progress-bar>
     </ion-list>
     <ion-list>
       <ion-list-header>
         <ion-label>Satisfaction</ion-label>
       </ion-list-header>
       <ion-progress-bar value="{{data.satisfication}}"></ion-progress-bar>
     </ion-list>
      <ion-col>
           <div class="ion-text-justify">
             <h5>About</h5>
            <p> {{data.about}}</p>
           </div>
         </ion-col>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="2" size-lg offset="0">
          <ion-button>
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button>
          <ion-icon name="mail-unread-outline"></ion-icon>
        </ion-button>
        </ion-col>
        <ion-col *ngFor="let data of editData">
          <ion-button routerLink="/patient/book/{{docId}}">
            <ion-icon name="calendar-outline"></ion-icon>appointment
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content> -->