<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Dashboard</ion-title>
    <ion-avatar routerLink="/doctor/docnotification/" class="ion-activatable ripple-parent" slot="end">
      <ion-icon color="primary" name="notifications-circle-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="first-content">
    <ion-card-content>
      <ion-item lines="none" class="ion-item-one">
        <ion-item lines="none" class="ion-sub-item">
          <ion-row class="first-row">
            <ion-col>
              <ion-avatar>
                <img
                  src="https://images.pexels.com/photos/5327585/pexels-photo-5327585.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
              </ion-avatar>
            </ion-col>
          </ion-row>
          <ion-row class="second-row">
            <ion-col>
              <ion-label>Dr J Priya</ion-label>
              <ion-label>Sample Data</ion-label>
              <ion-label>Sub Data</ion-label>
            </ion-col>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-row>
        </ion-item>
      </ion-item>
      <ion-item lines="none" class="contect-info">
        <ion-row>
          <ion-col class="col-one">
            <ion-label>
              <ion-icon name="call"></ion-icon> +91 8098494194
            </ion-label>
            <ion-label>
              <ion-icon name="mail"></ion-icon> janagan.duskcoder@gmail.com
            </ion-label>
          </ion-col>
          <ion-col class="col-two">
            <ion-label>
              <ion-icon name="heart-circle"></ion-icon> 24-07-1997
            </ion-label>
            <ion-label>
              <ion-icon name="location"></ion-icon> Pondicherry.
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item lines="none" class="ion-item-two" *ngFor="let data of dates">
        <ion-icon color="primary" name="calendar-outline"></ion-icon>
        <ion-label>{{data.date}}</ion-label>
        <ion-label slot="end"> Time: Live Time</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="about">
    <ion-card-content>
      <ion-label>About</ion-label>
      <ion-item class="content" lines="none">
        <ion-text color="medium">Your health has a big impact on other parts of your life. Your doctor may ask you how your life is
          going. This isn't
          being impolite or nosy. Information about what's happening in your life may be useful medically. Let the
          doctor know
          about any major changes or stresses in your life, such as a divorce or the death of a loved one.</ion-text>
      </ion-item>
      <!-- <ion-item class="field" lines="none">
        <ion-row>
          <ion-item lines="none">
            <ion-col>
              <ion-label>date of birth : </ion-label>
            </ion-col>
            <ion-col>
              <ion-text>24-07-1997</ion-text>
            </ion-col>
          </ion-item>
          <ion-item lines="none">
            <ion-col>
              <ion-label>date of birth : </ion-label>
            </ion-col>
            <ion-col>
              <ion-text>24-07-1997</ion-text>
            </ion-col>
          </ion-item>
          <ion-item lines="none">
            <ion-col>
              <ion-label>date of birth : </ion-label>
            </ion-col>
            <ion-col>
              <ion-text>24-07-1997</ion-text>
            </ion-col>
          </ion-item>
        </ion-row>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
  <ion-card class="progress_card">
    <ion-card-header>
      <ion-label>Review</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-col>
          <ion-label>Service</ion-label>
          <ion-progress-bar value="0.7"></ion-progress-bar>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col>
          <ion-label>Satisfaction</ion-label>
          <ion-progress-bar value="0.3"></ion-progress-bar>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <ion-col>
          <ion-label>Speciality</ion-label>
          <ion-progress-bar value="0.8"></ion-progress-bar>
        </ion-col>
      </ion-item>

      <!-- #### Dont Delete this Line Code becaus Feature established this ***UI Design*** ####-->

      <!-- <ion-item lines="none">
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
        <ion-col>
          
        </ion-col>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-card-optional">
    <ion-card-header>
      <ion-label>Optional</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="option-item" lines="none">
        <ion-col>
          <ion-card routerLink="/doctor/docnotification/" class="ion-activatable ripple-parent">
            <ion-card-content>
              <ion-text>Requested Notification</ion-text>
              <ion-text>
                <h1>1</h1>
              </ion-text>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card routerLink="/doctor/appointmentlist/" class="ion-activatable ripple-parent">
            <ion-card-content>
              <ion-text>Today Confirmation</ion-text>
              <ion-text>
                <h1>1</h1>
              </ion-text>
            </ion-card-content>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-card>
        </ion-col>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-settings">
    <ion-card-header>
      <ion-label>Settings</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label slot="start">Edit profile</ion-label>
        <ion-button slot="end" routerLink="/doctor/docprofileupdate/">
          <ion-icon name="pencil-sharp"></ion-icon>Edit
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label slot="start">Notification</ion-label>
        <ion-toggle slot="end" name="apple" color="secondary" checked></ion-toggle>

      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>