ion-header {
    ion-toolbar {
        ion-avatar {
            width: 50px;
            height: 30px;
            margin-right: 10px;
            ion-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}
ion-content {
    .first-content {
        height: 140px;
        background-size: cover;
        background-position-y: center;
        // opacity: 0.5;
        border-radius: 20px;
        background-color: aliceblue;
        // background-image: url("https://images.pexels.com/photos/6848000/pexels-photo-6848000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        ion-card-content {
            border-radius: 20px;

            .ion-item-one {
                border-radius: 20px;
                --background: none;
                background-color: #4190fb;
                color: white;
                font-weight: 600;
                opacity: 0.7;

                ion-row {
                    ion-col {
                        ion-label {
                            font-size: smaller;
                        }
                    }
                }
            }
            .ion-item-two {
                --background: none;
                ion-label {
                    font-size: smaller;
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    // text-shadow: 1px 2px #000000;
                }
            }
        }
    }
    @media (min-width: 700px) {
        .app-root {
            width: 700px;
            margin: auto;
            position: relative;
        }
    }
    .progress_card {
        box-shadow: none;
        background-color: aliceblue;
        border-radius: 15px;
        ion-card-header {
        }
        ion-card-content {
            ion-item {
                --background: none;
                ion-col {
                    text-align: inherit;
                    padding: 0px 10px 0px 0px;
                    ion-label {
                        color: #50a07c;
                    }
                    ion-progress-bar {
                        --background: rgb(0, 0, 0);
                        --buffer-background: rgb(183 201 224);
                        --progress-background: rgb(0, 119, 255);
                        height: 10px;
                        border-radius: 20px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    .ion-card-optional {
        // --background: none;
        // background: none;
        background-color: aliceblue;
        box-shadow: none;
        border-radius: 10px;
        ion-card-header {
            padding: 0px 0px 0px 15px;
        }
        ion-card-content {
            padding: 10px 0px 0px 0px;
            font-size: large;
            text-align: center;
            .option-item {
                display: flex;
                width: 100%;
                --background: none;
                ion-col {
                    width: 50%;
                    ion-card {
                        border-radius: 15px;
                        background-color: #49a2a5;
                        color: white;
                        ion-card-content {
                            h1 {
                                color: #dcdcdc;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    .card-settings {
        box-shadow: none;
        background-color: aliceblue;
        border-radius: 15px;
        ion-card-header {
        }
        ion-card-content {
            ion-item {
                --background: none;
                ion-label {
                    color: #666666;
                }
                ion-button {
                    --background: none;
                    background-color: #3dc2ff;
                    --border-radius: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}
